.navbar
{
    max-width: 80%;
    margin: 0 auto;
    

    .navbar_container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;

        .navbar--left
        {
            font-size: 2.6rem;
            font-weight: 600;
            a{
                text-decoration: none;
                color: #333;

            }
        }
    }
}

.navbar--right__links
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li
    {
        text-decoration: none;
        list-style: none;
        padding: 3rem ;
        font-size: 1.4rem;  
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        a 
        {
            text-decoration: none;
            color: #808080;   

        }
    }
}

.hamburger
{
    cursor: pointer;
    display: none;

}

@media only screen and (min-width:600px) and (max-width:800px)
{
    .navbar--right__links
    {
        li 
        {
            padding: 3rem 1rem
        }
    }
}

@media only screen and (max-width:600px)
{
    .navbar
    {
        min-width: 95% !important;
        padding: 2rem 1rem;
        .navbar_container
        {
            .navbar--left
            {
                font-size: 2rem;
            }
        }
        
        
        .navbar--right__links
        {
            li 
            {
                padding: 2rem 0.8rem
            }
        }
    }
}

@media only screen and (max-width:320px)
{
    .navbar--right__links
    {
        display: none;
    }
}
