.stack {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.8rem;
    border-radius: 2rem;
    line-height: 1.6rem;
    height: 1.6rem;
    position: absolute;
    display: flex;
    align-items: center;
    color: $white;
    // background-image: linear-gradient(260deg,#ff3e5e,#ff7f3f);
    background-image: linear-gradient(315deg, $gradient-color1 0%, $gradient-color2 74%);
    right: 0.8rem;
    font-family: 'poppins';
    top: 2rem;
}

@media only screen and (max-width:350px) {
    .stack {
        display: none;
    }
}