$box-shadow-light: #ccc;
$box-shadow2: #efefef;
$floral-white: #fffaf0;
$orange: #ff512f;
$green: #1ECD97;
$lightgrey:  hsla(0,0%,100%,.1);
$grey : gray;
$button-blue: hsl(231, 69%, 60%);
$white: #fff;
$off-white: #fefefe;
$subheading1: #aaa;
$subheading2:#bbb;
$gradient-color1 : #9921e8;
$gradient-color2 : #5f72be;
